.site-hero {
  padding-top: 50px;
}
.hero_heading-top {
  color: $green;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.hero_heading-middle {
  color: $lightest-slate;
  font-size: 50px;
  margin: 0;
  margin-bottom: 15px;
}
.hero_heading-buttom {
  color: $slate;
  font-size: 80px;
  margin: 0;
}
