.site-gird {
}
.container {
}
.site_grid-wrapper {
}
.site_grid-header {
  display: flex;
  justify-content: center;
  color: $light-slate;
  font-size: 40px;
  margin: 0;
  margin-bottom: 80px;
}
.site_grid-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}
.site_grid-item {
  width: 400px;
  background-color: $light-navy;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.site_grid-link {
  color: $light-slate;
  padding: 25px 35px;
  display: block;
  text-decoration: none;
}
.site_grid-item-header {
  font-size: 25px;
  &:hover {
    color: $green;
    transition: 0.5s ease;
  }
}
.site_grid-item-text {
}
.site_gird-footer-list {
  display: flex;
}
.site_grid-footer-item {
  color: $slate;
  list-style: none;
  margin-right: 5px;
  flex-wrap: wrap;
  //   flex-grow: 1;
}
