.sitenav {
  margin-left: auto;
}
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sitenav__list-item {
  margin-right: 30px;
  list-style: none;
}
.sitenav__link {
  text-decoration: none;
  text-transform: capitalize;
  color: $light-slate;
  font-size: 18px;
  &:hover {
    color: $green;
  }
}
.sitenav__link-item {
  color: $green;
  margin-right: 5px;
}
