.site-gird {
}
.container {
}
.site_grid-wrapper {
}
.site_grid-header {
}
.site_grid-list {
  padding: 0;
}
.site_grid-item {
  max-width: 350px;
  background-color: $light-navy;
  margin: 0;
  list-style: none;
  border-radius: 5px;
}
.site_grid-link {
  color: red;
  padding: 11px;
}
.site_grid-item-header {
}
.site_grid-item-text {
}
